<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anasayfa</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>


    <div class="container" style="margin-top: 1%">

      {% include 'Navbar.html' %}

      <div class="" style="height: 500px;background-color: whitesmoke;border-radius: 3px">

          <div class="row" style="padding-top: 5%">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                   <form method="post" action="KelimeEkle">

                      {% csrf_token %}

                       <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1"></span>
                          <input type="text" class="form-control" placeholder="İngilizce Kelime " aria-describedby="basic-addon1" name="eword">
                       </div>

                       <div class="input-group" style="padding-top: 2%">
                          <span class="input-group-addon" id="basic-addon2"></span>
                          <input type="text" class="form-control" placeholder="Türkçe Anlamı" aria-describedby="basic-addon2" name="tword">
                       </div>

                       <div class="input-group" style="padding-top: 2%">
                          <span class="input-group-addon" id="basic-addon3"></span>
                          <input type="text" class="form-control" placeholder="Türü" aria-describedby="basic-addon3" name="tur">
                       </div>

                       <div class="input-group" style="padding-top: 2%">
                          <span class="input-group-addon" id="basic-addon4"></span>
                          <input type="text" class="form-control" placeholder="Cümle ile kullanımı" aria-describedby="basic-addon4" name="cumle">
                       </div>

                       <div class="" style="padding-top: 2%">
                           <button type="submit" class="btn btn-info" style="width: 100%">Ekle</button>
                       </div>

          </form>
              </div>
              <div class="col-md-1"></div>
          </div>

          {% for i in var %}
                <p>{{i.EWord}}</p>
          {% endfor %}


      </div>

      <div class="error">
          {% if Err != "" %}
          <script>{{ Err|safe }}</script>
          {% endif %}
      </div>

  </div> <!-- /container -->


    <!-- Buraya hiçbir şekilde kod eklenmeyecek.Yukarıdaki gibi include olacaktır-->
    <!-- Buraya dokunulmayacak-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

</body>
</html>
